.shopping-cart-item{
   border: 1px solid #000; 
   float: right;
    width: 100%;
    height: 100%;
   margin-bottom: 10px;
}
.content{
    padding-left: 10px;
    padding-right: 10px;
}
.product-img{
height: 70px;
float: left;
padding:10px 0 10px 0;
   }
   .product-name{
    font-size: 18px;
    font-weight: 500;
    float: left;
    padding-top: 30px;
       }
       .product-price{
        font-size: 15px;
        font-weight: 300;
        float: left;
        margin-top: 40px;
        margin-left: 10px;
           }
       .action-list{
           float: right;
           margin-top: 35px;
       }
       .textfield{
           width: 35px;
           text-align: center;
           font-size: 16px;
           padding: 4px;
       }
       .btn-plus, .btn-minus{
        font-size: 16px;
        padding: 4px;
        width: 20px;
       }
       .btn-del{
        font-size: 14px;
        margin-left: 20px; 
        background-color: red;
        color: #fff;
        border: 1px solid red;
        padding: 5px;
        border-radius: 5px;
       }